---
# Main CSS Styles: all styles are compiled to this file
---

@import "template/colors",
        "template/table",
        "template/syntax-highlighting",
        "template";

/* Custom Styles */

$light:  #cde472;
$medium: #7cbe52;
$dark:   #1a571b;

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

code {
  font-family: 'Source Code Pro', monospace;
}

.legend {
  margin-bottom: 1.5em;
}

.status-boxes {
  display: inline-block;
  padding: 0 52px;
}

.status {
  width: 15px;
  height: 15px;
  background: $gray;
  float: left;
  margin: 2px 2px;
  box-sizing: border-box;
  
  &:hover {
    border: 2px solid $black;
  }
}

.gray {
  background: #d9d9d9;
}

.green {
  background: $green;
}

.red {
  background: $red;
}

.light {
  background: $light;
}

.medium {
  background: $medium;
}

.dark {
  background: $dark;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
.status[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
.status[data-tooltip]:before,
.status[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
.status[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -60px;
  padding: 4px;
  width: 120px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
.status[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
.status[data-tooltip]:hover:before,
.status[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
